# General
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
dist/
build/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.*

# Editors
.vscode/
.idea/
.cursor/
